{% extends "base.html" %}
{% block title %}Delete Activity Type '{{ activity_type.name|escape }}' | {% endblock %}
{% block menu %}{% menu "manage" "activity_types" %}{% endblock %}
{% block content %}
<h1>Delete Activity Type</h1>
<form name="activityTypeForm" id="activityTypeForm" action="." method="POST">
<p>Are you sure you want to delete the Activity Type '{{ activity_type.name|escape }}'?</p>
<div class="buttons">
  <button type="submit" class="negative"><img src="{{ MEDIA_URL }}img/delete.png" alt=""> Delete Activity Type</button>
  <a href="{{ activity_type.get_absolute_url }}" class="negative"><img src="{{ MEDIA_URL }}img/cancel.png" alt=""> Cancel</a>
</div>
</form>
{% endblock %}