{% extends "base.html" %}
{% block title %}Add Expense Type | {% endblock %}
{% block menu %}{% menu "manage" "expense_types" %}{% endblock %}
{% block content %}
<h1>Add Expense Type</h1>
<form name="expenseTypeForm" id="expenseTypeForm" action="." method="POST">
<table cellspacing="0">
<tbody>
{{ form }}
</tbody>
</table>
<div class="buttons">
  <button type="submit" class="positive"><img src="{{ MEDIA_URL }}img/add.png" alt=""> Add Expense Type</button>
  <a href="{% url expense_type_list %}" class="negative"><img src="{{ MEDIA_URL }}img/cancel.png" alt=""> Cancel</a>
</div>
</form>
{% endblock %}