{% extends "base.html" %}
{% block title %}Add User | {% endblock %}
{% block menu %}{% menu "manage" "users" %}{% endblock %}
{% block content %}
<h1>Add User</h1>
<form name="userForm" id="userForm" action="." method="POST">
{% csrf_token %}
<table cellspacing="0">
<tbody>
{{ form }}
</tbody>
</table>
<div class="buttons">
  <button type="submit" class="positive"><img src="{{ MEDIA_URL }}img/user_add.png" alt=""> Add User</button>
  <a href="{% url user_list %}" class="negative"><img src="{{ MEDIA_URL }}img/cancel.png" alt=""> Cancel</a>
</div>
</form>
{% endblock %}