{% extends "base.html" %}
{% block title %}Edit Client '{{ client.name|escape }}' | {% endblock %}
{% block menu %}{% menu "manage" "clients" %}{% endblock %}
{% block content %}
<h1>Edit Client</h1>
<form name="clientForm" id="clientForm" action="." method="POST">
{% csrf_token %}
<table cellspacing="0">
{{ form }}
</table>
<div class="buttons">
  <button type="submit" class="positive"><img src="{{ MEDIA_URL }}img/tick.png" alt=""> Edit Client</button>
  <a href="{{ client.get_absolute_url }}" class="negative"><img src="{{ MEDIA_URL }}img/cancel.png" alt=""> Cancel</a>
</div>
</form>
{% endblock %}