{% extends "base.html" %}
{% block title %}Artifacts for Job {{ job.formatted_number }} - {{ job.name|escape }} | {% endblock %}
{% block menu %}{% menu "manage" "jobs" %}{% endblock %}
{% block content %}
<h1>Artifacts for Job {{ job.formatted_number }} - {{ job.name|escape }}</h1>

{% if artifact_list %}
<table cellspacing="0" class="data">
<thead>
  <tr>
{% table_header headers %}
  </tr>
</thead>
<tbody>
  {% for artifact in artifact_list %}<tr class="{% cycle odd,even %}">
    <td><a href="{% url artifact_detail job.formatted_number,artifact.id %}">{{ artifact.description|escape }}</a></td>
    <td>{{ artifact.type|default:"-"|escape }}</a></td>
    <td>{{ artifact.file|escape }}</td>
    <td>{{ artifact.get_file_size }}</td>
    <td>{{ artifact.created_at }}</td>
    <td>{{ artifact.updated_at }}</td>
    <td>{{ artifact.get_access_display }}</td>
    <td><a href="{% url download_artifact job.formatted_number,artifact.id %}">Download</a></td>
  </tr>{% endfor %}
</tbody>
</table>
{% else %}
<p class="noneyet">No Artifacts yet.</p>
{% endif %}
<div class="buttons">
  <a href="{% url add_artifact job.formatted_number %}"><img src="{{ MEDIA_URL }}img/attach.png" alt=""> Add Artifact</a>
</div>
{% endblock %}