{% extends "base.html" %}
{% block title %}Edit Artifact | {% endblock %}
{% block menu %}{% menu "manage" "jobs" %}{% endblock %}
{% block content %}
<h1>Edit Artifact</h1>
<form name="artifactForm" id="artifactForm" action="." method="POST" enctype="multipart/form-data">
{% csrf_token %}
<table cellspacing="0">
<tbody>
{{ form }}
</tbody>
</table>
<div class="buttons">
  <button type="submit" class="positive"><img src="{{ MEDIA_URL }}img/attach.png" alt=""> Edit Artifact</button>
  <a href="{% url artifact_list job.formatted_number %}" class="negative"><img src="{{ MEDIA_URL }}img/cancel.png" alt=""> Cancel</a>
</div>
</form>
{% endblock %}