{% extends "base.html" %}
{% block title %}Invoice {{ invoice.formatted_number }} | {% endblock %}
{% block menu %}{% menu "invoices" "invoices" %}{% endblock %}
{% block content %}
<h1>Invoice {{ invoice.formatted_number }}</h1>

<table cellspacing="0">
<tbody>
<tr><th scope="row">PDF:</th><td><a href="{% url download_invoice invoice.formatted_number %}">Download</a></td></tr>
<tr><th scope="row">Number:</th><td>{{ invoice.formatted_number }}</td></tr>
<tr><th scope="row">Date:</th><td>{{ invoice.date }}</td></tr>
<tr><th scope="row">Job:</th><td><a href="{% url job_detail invoice.job_number %}">{{ invoice.job_number|pad_number }} - {{ invoice.job_name|escape }}</a></td></tr>
<tr><th scope="row">Client:</th><td>{{ invoice.client_name|escape }}</a></td></tr>
<td><th scope="row">Primary Contact:</th>{{ invoice.primary_contact_first_name|escape }} {{ invoice.primary_contact_last_name|escape }}</td>
<tr><th scope="row">Invoiced From:</th><td>{{ invoice.start_period|default:"N/A" }}</td></tr>
<tr><th scope="row">Invoiced To:</th><td>{{ invoice.end_period|default:"N/A" }}</td></tr>
<tr><th scope="row">Fee Currency:</th><td>{{ invoice.job_fee_currency|escape }}</td></tr>
<tr><th scope="row">Amount Invoiced:</th><td>{{ invoice.amount_invoiced|money }}</td></tr>
<tr><th scope="row">Adjustment:</th><td>{% if invoice.adjustment %}{{ invoice.adjustment|money }}{% else %}N/A{% endif %}</td></tr>
<tr><th scope="row">Amount Received:</th><td>{% if invoice.amount_received %}{{ invoice.amount_received|money }}{% else %}N/A{% endif %}</td></tr>
<tr><th scope="row">Comment:</th><td>{{ invoice.comment|escape|linebreaksbr|default:"N/A" }}</td>
<tbody>
</table>
<div class="buttons">
  <a href="{% url edit_invoice invoice.id %}"><img src="{{ MEDIA_URL }}img/pencil.png" alt=""> Edit Invoice</a>
</div>
{% endblock %}