{% extends "base.html" %}
{% block title %}Add Job | {% endblock %}
{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/AssignJobContactsCallbacks.js"></script>
<script type="text/javascript">
var ASSIGN_CONTACTS_WINDOW = "assign_contacts_window";
Event.onDOMReady(function()
{
    Event.observe("selectJobContactsButton", "click", function()
    {
        window.assignContactsCallback = AssignJobContactsCallbacks.jobContactsCallback;
        window.open("{% url assign_contacts "multiple" %}", ASSIGN_CONTACTS_WINDOW);
    });

    Event.observe("selectPrimaryContactButton", "click", function()
    {
        window.assignContactsCallback = AssignJobContactsCallbacks.primaryContactCallback;
        window.open("{% url assign_contacts "single" %}", ASSIGN_CONTACTS_WINDOW);
    });

    Event.observe("selectBillingContactButton", "click", function()
    {
        window.assignContactsCallback = AssignJobContactsCallbacks.billingContactCallback;
        window.open("{% url assign_contacts "single" %}", ASSIGN_CONTACTS_WINDOW);
    });
});
</script>
{% endblock %}
{% block menu %}{% menu "manage" "jobs" %}{% endblock %}
{% block content %}
<h1>Add Job</h1>

<form name="addJobForm" id="addJobForm" action="." method="POST">
{% csrf_token %}
<h2>Job Details</h2>
<table cellspacing="0">
<tbody>
<tr><th scope="row">{{ job_form.client.label_tag }}</th><td>{% if job_form.client.errors %}{{ job_form.client.errors.as_ul }}{% endif %}{{ job_form.client }}</td></tr>
<tr><th scope="row">{{ job_form.name.label_tag }}</th><td>{% if job_form.name.errors %}{{ job_form.name.errors.as_ul }}{% endif %}{{ job_form.name }}</td></tr>
<tr><th scope="row">{{ job_form.number.label_tag }}</th><td>{% if job_form.number.errors %}{{ job_form.number.errors.as_ul }}{% endif %}{{ job_form.number }}</td></tr>
<tr><th scope="row">{{ job_form.reference.label_tag }}</th><td>{% if job_form.reference.errors %}{{ job_form.reference.errors.as_ul }}{% endif %}{{ job_form.reference }}</td></tr>
<tr><th scope="row">{{ job_form.reference_date.label_tag }}</th><td>{% if job_form.reference_date.errors %}{{ job_form.reference_date.errors.as_ul }}{% endif %}{{ job_form.reference_date }}</td></tr>
<tr><th scope="row">{{ job_form.add_reference.label_tag }}</th><td>{% if job_form.add_reference.errors %}{{ job_form.add_reference.errors.as_ul }}{% endif %}{{ job_form.add_reference }}</td></tr>
<tr><th scope="row">{{ job_form.add_reference_date.label_tag }}</th><td>{% if job_form.add_reference_date.errors %}{{ job_form.add_reference_date.errors.as_ul }}{% endif %}{{ job_form.add_reference_date }}</td></tr>
<tr><th scope="row">{{ job_form.status.label_tag }}</th><td>{% if job_form.status.errors %}{{ job_form.status.errors.as_ul }}{% endif %}{{ job_form.status }}</td></tr>
<tr><th scope="row">{{ job_form.notes.label_tag }}</th><td>{% if job_form.notes.errors %}{{ job_form.notes.errors.as_ul }}{% endif %}{{ job_form.notes }}</td></tr>
<tr><th scope="row">{{ job_form.director.label_tag }}</th><td>{% if job_form.director.errors %}{{ job_form.director.errors.as_ul }}{% endif %}{{ job_form.director }}</td></tr>
<tr><th scope="row">{{ job_form.project_coordinator.label_tag }}</th><td>{% if job_form.project_coordinator.errors %}{{ job_form.project_coordinator.errors.as_ul }}{% endif %}{{ job_form.project_coordinator }}</td></tr>
<tr><th scope="row">{{ job_form.project_manager.label_tag }}</th><td>{% if job_form.project_manager.errors %}{{ job_form.project_manager.errors.as_ul }}{% endif %}{{ job_form.project_manager }}</td></tr>
<tr><th scope="row">{{ job_form.architect.label_tag }}</th><td>{% if job_form.architect.errors %}{{ job_form.architect.errors.as_ul }}{% endif %}{{ job_form.architect }}</td></tr>
<tr><th scope="row">{{ job_form.primary_contact.label_tag }}</th><td>{% if job_form.primary_contact.errors %}{{ job_form.primary_contact.errors.as_ul }}{% endif %}{{ job_form.primary_contact }} <input type="button" id="selectPrimaryContactButton" value="Select Contact"></td></tr>
<tr><th scope="row">{{ job_form.billing_contact.label_tag }}</th><td>{% if job_form.billing_contact.errors %}{{ job_form.billing_contact.errors.as_ul }}{% endif %}{{ job_form.billing_contact }} <input type="button" id="selectBillingContactButton" value="Select Contact"></td></tr>
<tr><th scope="row">{{ job_form.job_contacts.label_tag }}</th><td>{% if job_form.job_contacts.errors %}{{ job_form.job_contacts.errors.as_ul }}{% endif %}{{ job_form.job_contacts }} <input type="button" id="selectJobContactsButton" value="Select Contacts"></td></tr>
<tr><th scope="row">{{ job_form.start_date.label_tag }}</th><td>{% if job_form.start_date.errors %}{{ job_form.start_date.errors.as_ul }}{% endif %}{{ job_form.start_date }}</td></tr>
<tr><th scope="row">{{ job_form.end_date.label_tag }}</th><td>{% if job_form.end_date.errors %}{{ job_form.end_date.errors.as_ul }}{% endif %}{{ job_form.end_date }}</td></tr>
<tr><th scope="row">{{ job_form.fee_basis.label_tag }}</th><td>{% if job_form.fee_basis.errors %}{{ job_form.fee_basis.errors.as_ul }}{% endif %}{{ job_form.fee_basis }}</td></tr>
<tr><th scope="row">{{ job_form.fee_amount.label_tag }}</th><td>{% if job_form.fee_amount.errors %}{{ job_form.fee_amount.errors.as_ul }}{% endif %}{{ job_form.fee_amount }}</td></tr>
<tr><th scope="row">{{ job_form.fee_currency.label_tag }}</th><td>{% if job_form.fee_currency.errors %}{{ job_form.fee_currency.errors.as_ul }}{% endif %}{{ job_form.fee_currency }}</td></tr>
</tbody>
</table>

<h2>Tasks</h2>
<table cellspacing="0" class="data">
<thead>
  <tr>
    <th scope="col">Type</th>
    <th scope="col">Users</th>
    <th scope="col">Estimate Hours</th>
    <th scope="col">Start Date</th>
    <th scope="col">End Date</th>
  </tr>
</thead>
<tbody>
  {% for form in task_forms %}<tr class="{% cycle odd,even %}">
    <td><label for="id_t{{ form.task_type.id }}-add">{{ form.add }} {{ form.task_type.name|escape }}</label></td>
    <td>
      {{ form.assigned_users }}
      {% if form.assigned_users.errors %}<br>{{ form.assigned_users.errors.as_text }}{% endif %}
    </td>
    <td>
      {{ form.estimate_hours }}
      {% if form.estimate_hours.errors %}<br>{{ form.estimate_hours.errors.as_text }}{% endif %}
    </td>
    <td>
      {{ form.start_date }}
      {% if form.start_date.errors %}<br>{{ form.start_date.errors.as_text }}{% endif %}
    </td>
    <td>
      {{ form.end_date }}
      {% if form.end_date.errors %}<br>{{ form.end_date.errors.as_text }}{% endif %}
    </td>
  </tr>{% endfor %}
  <tr class="contingency">
    <td>Contingency</td>
    <td>&nbsp;</td>
    <td>
      {{ job_form.contingency }}
      {% if job_form.contingency.errors %}{{ job_form.contingency.errors.as_text }}{% endif %}
    </td>
    <td colspan="2">&nbsp;</td>
  </tr>
</tbody>
</table>

<div class="buttons">
  <button type="submit" class="positive"><img src="{{ MEDIA_URL }}img/add.png" alt=""> Add Job</button>
  <a href="{% url job_list %}" class="negative"><img src="{{ MEDIA_URL }}img/cancel.png" alt=""> Cancel</a>
</div>

</form>
{% endblock %}