{% extends "base.html" %}
{% block title %}Delete Activity {{ activity.formatted_number }} | {% endblock %}
{% block menu %}{% menu "activities" %}{% endblock %}
{% block content %}
<h1>Delete Activity</h1>
<form name="activityForm" id="activityForm" action="." method="POST">
<p>Are you sure you want to delete Activity {{ activity.formatted_number }}?</p>
<div class="buttons">
  <button type="submit" class="negative"><img src="{{ MEDIA_URL }}img/note_delete.png" alt=""> Delete Activity</button>
  <a href="{{ activity.get_absolute_url|escape }}" class="negative"><img src="{{ MEDIA_URL }}img/cancel.png" alt=""> Cancel</a>
</div>
</form>
{% endblock %}