{% extends "base.html" %}
{% block title %}Delete Expense Type '{{ expense_type.name|escape }}' | {% endblock %}
{% block menu %}{% menu "manage" "expense_types" %}{% endblock %}
{% block content %}
<h1>Delete Expense Type</h1>
<form name="expenseTypeForm" id="expenseTypeForm" action="." method="POST">
<p>Are you sure you want to delete the Expense Type '{{ expense_type.name|escape }}'?</p>
<div class="buttons">
  <button type="submit" class="negative"><img src="{{ MEDIA_URL }}img/delete.png" alt=""> Delete Expense Type</button>
  <a href="{{ expense_type.get_absolute_url }}" class="negative"><img src="{{ MEDIA_URL }}img/cancel.png" alt=""> Cancel</a>
</div>
</form>
{% endblock %}