{% extends "base.html" %}
{% block title %}Delete Contact '{{ contact.full_name|escape }}' | {% endblock %}
{% block menu %}{% menu "manage" "contacts" %}{% endblock %}
{% block content %}
<h1>Delete Contact</h1>
<form name="contactForm" id="contactForm" action="." method="POST">
<p>Are you sure you want to delete the Contact '{{ contact.full_name|escape }}'?</p>
<div class="buttons">
  <button type="submit" class="negative"><img src="{{ MEDIA_URL }}img/group_delete.png" alt=""> Delete Contact</button>
  <a href="{{ contact.get_absolute_url }}" class="negative"><img src="{{ MEDIA_URL }}img/cancel.png" alt=""> Cancel</a>
</div>
</form>
{% endblock %}